
<h1 style="text-align: center; font-weight: lighter; font-family: verdana; font-size: 80px"><p>Hello There!</p></h1>

<h2 style="text-align:center; font-weight: lighter; font-family: verdana; font-size: 50px"><p>What's your name?</p></h2>

<form>
  <input type="text" name="name">
</form>

<h2 style="text-align:center; font-weight: lighter; font-family: verdana; font-size: 50px"><p>When's your birthday?</p></h2>
